<!DOCTYPE html>
<html lang="en">
  <header class="header">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap2.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">Juguetron-Incorporate</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa-solid fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Nuestro trabajo</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Nuestro Team</a></li>
                    <li class="nav-item"><a href="/users/tipousuario" class="nav-link text-uppercase font-weight-bold" id="boton">Dashboard</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link text-uppercase font-weight-bold" id="usuario">Sign-Up</a></li>
                </ul>
               
            </div>
        </div>
    </nav>
</header>

<!---dscsdcds-->

