<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Sync is a landing page HTML template built with Bootstrap 4 for presenting mobile apps to the online audience and for getting visitors to become users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Webpage Title -->
    <title>Juguetron</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce38a4fb3b.js" crossorigin="anonymous"></script>
    <link href="/css/swiper.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/img/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Sync</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="/principal"><img src="/img/logo.png" alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#description">DESCRIPCIÓN <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#donar">¿CÓMO DONAR?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#teams">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#download">CONTACTANOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/tipousuario">DASHBOARD</a>
                    </li>

                    <li class="nav-item">
                       <!-- <a class="nav-link page-scroll" href="#screens" id="nusuario"></a>-->
                    </li>

                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm page-scroll" id="nusuario" href="/login">SIGN-UP</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>Juguetrón "Dona la Felicidad"</h1>
                        <p class="p-large p-heading">Ofrecemos la oportunidad a Todas las personas de que puedan donar
                            un cachito de felicidad a los niños que están pasando por malos momentos de su corta vida.
                            Esta empresa está formada y pensada con la finalidad de proveer la felicidad a los niños que
                            hoy nos necesitan. ¿Como lo hacemos? </p>
                        <a class="btn-solid-lg" href="#your-link"><i class="fa fa-users"></i> Conocenos</a>
                        <a class="btn-solid-lg" href="#your-link"><i class="fa-solid fa-hand-holding-medical"></i>
                            Donar</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-container">
                        <img class="img-fluid" src="/img/header-iphone.png" alt="alternative">
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <div class="deco-white-circle-1">
            <img src="/img/decorative-white-circle.svg" alt="alternative">
        </div> <!-- end of deco-white-circle-1 -->
        <div class="deco-white-circle-2">
            <img src="/img/decorative-white-circle.svg" alt="alternative">
        </div> <!-- end of deco-white-circle-2 -->
        <div class="deco-blue-circle">
            <img src="/img/decorative-blue-circle.svg" alt="alternative">
        </div> <!-- end of deco-blue-circle -->
        <div class="deco-yellow-circle">
            <img src="/img/decorative-yellow-circle.svg" alt="alternative">
        </div> <!-- end of deco-yellow-circle -->
        <div class="deco-green-diamond">
            <img src="/img/decorative-green-diamond.svg" alt="alternative">
        </div> <!-- end of deco-yellow-circle -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Small Features -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollando Soluciones</h5>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image green">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Codificando Soluciones</h5>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image red">
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Dirección de Creatividad</h5>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image yellow">
                            <i class="fas fa-comments"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Social Interaction</h5>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image blue">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Construyendo Sonrisas</h5>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of small features -->


    <!-- Description 1 -->
    <div id="description" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="/img/description-1-app.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>¿Quienes Somos?</h2>
                        <p>Somos una empresa dedicada a recuperar esas sonrisas perdidas. <strong>Apoyar</strong> a los
                            niños desamparados que no tienen un hogar.
                            Un niño no deberia ser infeliz en la etapa más importante de su vida, la cual definirá
                            quienes serán en un futuro. <strong>Debemos reconstruir nuestra sociedad y como
                                empreza...</strong></p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Nos encanta la idea de poder contribuir con la sociedad en
                                    problemas existenciales que hay en este mundo. Todo lo que hacemos es con dedicacion
                                    y con buenas intenciones.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">na forma de llegar a la gente es por los medios digitales con
                                    los que contamos en este momento. El flujo de la información es más rápida hoy en
                                    día, y ¿Por qué no? Hay que aprovechar estas oportunidades para hacer verdaderos
                                    cambios.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Nuestra Creatividad no tiene limites, es por eso que la
                                    aprovechamos al máximo enfocandonos en lo que realmente importa. Este no es nuestro
                                    primer trabajo. Contamos con diversas soluciones que nos hacen crecer como empresa.
                                </div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim"
                            href="#description-1-details-lightbox">Nuestra historia</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of description 1 -->


    <!-- Description 1 Details Lightbox -->
    <!-- Details Lightbox -->
    <div id="description-1-details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="/img/description-1-details-lightbox.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div>
            <div class="col-lg-4">
                <h3>El es Alan</h3>
                <hr>
                <p>Su nombre es Alan Canales, un niño de calle con quien empezamos este gran proyecto.</p>
                <h4>Inspiración</h4>
                <p>Nos inspiramos junto a el para contruir y formar un equipo. Adoptamos a Alan y comenzamos reconocer nuestro lugar como sociendad. Aprendimos mucho junto a él, vivir sus dificultades con lo que se enfrenta día a dia</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="far fa-check-square"></i>
                        <div class="media-body">Comenzamos a formar un equipo más grande</div>
                    </li>
                    <li class="media">
                        <i class="far fa-check-square"></i>
                        <div class="media-body">Contratamos Desarrolladores para la construccion de herramientas</div>
                    </li>
                    <li class="media">
                        <i class="far fa-check-square"></i>
                        <div class="media-body">Recaudamos datos estadisticos que nos ayudó a comprender la situación en México y en el mundo</div>
                    </li>
                    <li class="media">
                        <i class="far fa-check-square"></i>
                        <div class="media-body">Pensamos. ¿Cómo poder ayudar a Fabian y a otros niños más?</div>
                    </li>
                    <li class="media">
                        <i class="far fa-check-square"></i>
                        <div class="media-body">Armamos un modelo de donación que junto con personas fuera de la organización, pudieran colaborar con nosotros y abarcar un rango más alto poniendo a disposición herramientas que ayuden a nuestro propósito</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#download">DOWNLOAD</a> <button
                    class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox -->
    <!-- end of description 1 details lightbox -->



    <!-- Description 2 -->
    <div class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tabs-container">

                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs" id="cedoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                                    aria-controls="tab-1" aria-selected="true"><i class="far fa-clock"></i>¿Donar?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                                    aria-controls="tab-2" aria-selected="false"><i class="fas fa-list"></i>¿Porqué?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                                    aria-controls="tab-3" aria-selected="false"><i class="far fa-calendar-alt"></i>Que
                                    hacer</a>
                            </li>
                        </ul>
                        <!-- end of tabs links -->

                        <!-- Tabs Content -->
                        <div class="tab-content" id="cedoTabsContent">
                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <p><strong>¿Donar un juguete?</strong>Ayuda a la estabilidad emocional de un niño, a que
                                    pueda crecer sin preocupaciones. Hay muchas formas de hacer feliz a un niño sin
                                    recursos</p>
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">Puedes donar ropa</div>
                                    </li>
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">Pudes adoptar o apoyar economicamente</div>
                                    </li>
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">O puede donar un juguete con nosotros</div>
                                    </li>
                                </ul>
                                <a class="btn-solid-reg page-scroll" href="/login">Dona</a> <a
                                    class="btn-outline-reg page-scroll" href="#donar">Pasos para Donar</a>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <p><strong>¿Por que donar con nosotros?</strong> Somos una empreza dedicada a la
                                    felicidad de los niños de bajos recursos.
                                    Estamos comprometido a compartir juguetes a los niños más necesitados.</p>
                                <p><strong>Muchos de los niños</strong> no tienen un hogar y en su corta edad de vida no
                                    deverian preocuparse por su estabilidad</p>
                                <p><strong>Alguien debe apoyarlos</strong>. Con nuestra ayuda y la valiosa colaboracion
                                    tuya podemos hacer un cambio y apoyar a los niños desamparados</p>
                                <a class="red" href="terms-conditions.html">Terms & Conditions >></a>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                                <p><strong>¿Que podemos hacer?</strong> Sabemos que este proyecto no es suficiente, pero
                                    queremos aportar con lo necesario e incitar a otras empresa, campañas u
                                    organizaciones a reconocer que este problema mundial es algo serio y preocupante y
                                    que debemos hacer algo. <strong>Esto es lo que puedes hacer...</strong></p>
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">Puedes unirte a nuestro equipo y colaborar</div>
                                    </li>
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">No es necesario querer ayudar a todos los niños. Si
                                            conoces una situcion similar de un niño, apoyalo con lo que puedas</div>
                                    </li>
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">Adopta!!! Puedes adoptar si asi lo deseas</div>
                                    </li>
                                    <li class="media">
                                        <i class="far fa-check-square"></i>
                                        <div class="media-body">Donar es un buen gesto de caridad</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
                        </div> <!-- end of tab-content -->
                        <!-- end of nav tabs content -->

                    </div> <!-- end of tabs-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="/img/description-2-app.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of description 2 -->


    <!-- Features -->
    <div id="donar" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Pasos Para Donar</h2>
                    <p class="p-heading">Es muy facil donar juguetes, simplemte sigue estos pasos a continuación.
                        Recuerda, una donación tuya, es una sonrisa y una oportunidad de ver a un niño feliz.
                        Utilizar nustro metodo de donación ayuda al registro y agiliza nuestro trabajo</p>
                </div> <!-- end of div -->
            </div> <!-- end of div -->
            <div class="row">
                <div class="col-lg-4">
                    <ul class="list-unstyled li-space-lg first">
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Registrate</h4>
                                <p>Para empezar a dar felicidad, haz tu registro y se parte de nosotros</p>
                            </div>
                        </li>
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x green"></i>
                                <i class="fas fa-code fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Dashboard</h4>
                                <p>Empleamos para ti un fabuloso dashboard que podrás utilizar para hacer donaciones de
                                    manera sencilla y rápida</p>
                            </div>
                        </li>
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x red"></i>
                                <i class="fas fa-cog fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Explora</h4>
                                <p>Explora el contenido funcional del dashboard. Descuida!! No te costará mucho tiempo!!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <img class="img-fluid" src="/img/features-app.png" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x yellow"></i>
                                <i class="fas fa-comments fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Dona</h4>
                                <p>Una vez explores empieza a donar. Elige las caracteristicas</p>
                            </div>
                        </li>
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x blue"></i>
                                <i class="fas fa-rocket fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Selecciona una Sucursal</h4>
                                <p>Cuando registres tu donación, elige una de nustras sucursales disponibles
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-download fa-stack-1x"></i>
                            </span>
                            <div class="media-body">
                                <h4>Entrega</h4>
                                <p>Tu registro de la donación aparecera en tu perfil. Ahora solo asiste a la sucursal y
                                    entrega tu pedido</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of features -->


    <!-- Screenshots -->
    <div id="screens" class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-1.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-1.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-2.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-2.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-3.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-3.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-4.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-4.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-5.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-5.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-1.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-6.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-2.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-7.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-3.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-8.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-4.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-9.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="/img/screenshot-5.jpg" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="/img/screenshot-10.jpg" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of screenshots -->


    <!-- Testimonials -->
    <div id="teams" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Conoce a Nuestro Team</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i>
                            <hr class="testimonial-line">
                        </div>
                        <div class="card-body">
                            <div class="image-container">
                                <img class="img-fluid" src="/images/Diego.png" alt="alternative">
                            </div>
                            <div class="testimonial-text">Soy diseñador y programador. Me gusta contribuir a la solución
                                de los problemas sociales que actualmente existen. En juguetron trabajo para el area de
                                desarrollo y diseño junto con más personas de mi equipo.</div>
                            <div class="testimonial-author">Diego Johan - Designer</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i>
                            <hr class="testimonial-line">
                        </div>
                        <div class="card-body">
                            <div class="image-container">
                                <img class="img-fluid" src="/images/Jackie.png" alt="alternative">
                            </div>
                            <div class="testimonial-text">Soy una programadora innovadora y emprendedora, tengo enfoque
                                en front-end y el diseño. Con este proyecto, busco en conjunto con mi equipo, facilitar
                                la labor de compartir juguetes a millones de niños.</div>
                            <div class="testimonial-author">Arlette Jacqueline - Developer</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i>
                            <hr class="testimonial-line">
                        </div>
                        <div class="card-body">
                            <div class="image-container">
                                <img class="img-fluid" src="/images/Alan.png" alt="alternative">
                            </div>
                            <div class="testimonial-text">Soy un estudiante apasionado de ingeniería en software,
                                normalmente estoy aprendiendo sobre el desarrollo back-end, y en este proyecto busco
                                junto a todo mi equipo crear una manera de ayudar a las personas de bajos recursos a
                                poder llevar sonrisas a los niños!</div>
                            <div class="testimonial-author">Alan Arturo - Backend</div>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i>
                            <hr class="testimonial-line">
                        </div>
                        <div class="card-body">
                            <div class="image-container">
                                <img class="img-fluid" src="/images/Yazmin.png" alt="alternative">
                            </div>
                            <div class="testimonial-text">Never dreamed I could learn so fast how to focus on my
                                personal goals and improve my life to levels I never thought possible.</div>
                            <div class="testimonial-author">Yazmin - Marketer</div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->

        </div> <!-- end of col -->
    </div> <!-- end of row -->
    </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of testimonials -->


    <!-- Statistics -->
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <i class="fas fa-users"></i>
                            <div class="counter-value number-count" data-count="231">1</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-code green"></i>
                            <div class="counter-value number-count" data-count="385">1</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-cog red"></i>
                            <div class="counter-value number-count" data-count="159">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-comments yellow"></i>
                            <div class="counter-value number-count" data-count="127">1</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-rocket blue"></i>
                            <div class="counter-value number-count" data-count="211">1</div>
                            <p class="counter-info">Orders Received</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->


    <!-- Download -->
    <div id="download" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-container">
                        <img class="img-fluid" src="/img/download-iphone.png" alt="alternative">
                    </div> <!-- end of image-container -->
                    <p class="p-large">Nuestro trabajo es hacer la recolección de juguetes de cualquiera de ustedes,
                        estos juguetes pasarán por un proceso de calidad y obtener los productos adecuados.
                    </p>
                    <a class="btn-solid-lg" href="#your-link"><i class="fa fa-users"></i> Conocenos</a>
                    <a class="btn-solid-lg" href="#your-link"><i class="fa-solid fa-hand-holding-medical"></i>
                        Donar</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <div class="deco-white-circle-1">
            <img src="/img/decorative-white-circle.svg" alt="alternative">
        </div> <!-- end of deco-white-circle-1 -->
        <div class="deco-white-circle-2">
            <img src="/img/decorative-white-circle.svg" alt="alternative">
        </div> <!-- end of deco-white-circle-2 -->
        <div class="deco-blue-circle">
            <img src="/img/decorative-blue-circle.svg" alt="alternative">
        </div> <!-- end of deco-blue-circle -->
        <div class="deco-yellow-circle">
            <img src="/img/decorative-yellow-circle.svg" alt="alternative">
        </div> <!-- end of deco-yellow-circle -->
        <div class="deco-green-diamond">
            <img src="/img/decorative-green-diamond.svg" alt="alternative">
        </div> <!-- end of deco-yellow-circle -->
    </div> <!-- end of basic-3 -->
    <!-- end of download -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h5>Acerca de Nosotros</h5>
                        <p class="p-small">Conoce mas de nuestro trabajo</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h5>Contact Info</h5>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">Pachuca de Soto, Hidalgo</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body"><a href="#your-link">juguetron@gmail.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-phone-alt"></i>
                                <div class="media-body"><a href="#your-link">+52 772 141 5466</a></div>
                            </li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <h5>Value Links</h5>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="article-details.html">Article Details</a></li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col fourth">
                        <h5>Other Apps</h5>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li><a href="#your-link">Scientific Calculator</a></li>
                            <li><a href="#your-link">Advanced Timer</a></li>
                            <li><a href="#your-link">Music Store</a></li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col fifth">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Juguetron</a> - Todos los
                        derechos reservados</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/js/scripts.js"></script> <!-- Custom scripts -->

</body>

</html>

<script type="text/javascript">

    window.addEventListener('load', function () {

        
        document.getElementById("nusuario").innerHTML = '<%= nombre %>';

    });
</script>