<%- include ../templates/header_dash.ejs %>
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4 ">

            <div class="card-header py-3 ">
                <h4 class="m-0 font-weight-bold " style="color: #293a4a;">Agregar Tipo de Juguete</h4>
            </div>

            <!-- Inicio Formularios -->

            <form class="col-md-12 mb-4 mt-4" action="/dashboardAdmin/identificacion" method="POST">
                <!--<input hidden type="text" class="form-control" id="id_cont" name="id_cont" tabindex="1">
                -->
                <div class="form-group col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Descripcion Completa</label>
                        <input type="text" class="form-control" id="descripcionIden" name="descripcionIden"
                            tabindex="1">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-info" tabindex="3">Guardar</button>
                <a href="/dashboardAdmin/contenedores" class="btn btn-outline-danger">Cancelar</a>

            </form>

        </div>
    </div>
    </div>
    <%- include ../templates/footer_dash.ejs %>