<%- include templates/dashUsuariosHeader.ejs %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Pasos Para Donar un Juguete</h1>

        <div class="row">

            <div class="col-lg-6">

                <!-- Circle Buttons -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Dona</h6>
                    </div>
                    <div class="card-body">
                        <div class="ratio ratio-16x9">
                            <iframe
                              src="https://www.youtube.com/embed/vlDzYIIOYmM"
                              title="YouTube video"
                              allowfullscreen
                            ></iframe>
                          </div>
                    </div>
                </div>

                <!-- Brand Buttons -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Haz</h6>
                    </div>
                    <div class="card-body">
                        <h6>Pon Información Aqui</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Transporta</h6>
                    </div>
                    <div class="card-body">
                        <h6>Pon Información Aqui</h6>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Comparte</h6>
                    </div>
                    <div class="card-body">
                        <h6>Pon Información Aqui</h6>
                    </div>
                </div>

            </div>



        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <script type="text/javascript">
          
        window.addEventListener('load', function(){
          
            alert('<%= nombre %>');
            document.getElementById("usuario").innerHTML='<%= nombre %>';
           
        });
      </script>
    <%- include templates/dashUsuariosFooter.ejs %>

    