<%- include templates/dashUsuariosHeader.ejs %>
    <div class="container-fluid">

        <!-- Page Heading -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Mi Perfil</h6>
            </div>


<<<<<<< HEAD
            <section class="bg-gradient-danger">
=======
            <section style="background-color: #eee;">
>>>>>>> 8abb40be1b70be16c8d0afcd98ef839f7c2ec6b1
                <div class="container py-5">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="/images/perfil.webp" alt="avatar" class="rounded-circle img-fluid"
                                        style="width: 150px;">
                                    <h5 class="my-3">John Smith</h5>
                                    <p class="text-muted mb-1">Cliente</p>
                                    <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nombre </p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">Johnatan Smith</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Cuenta</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">example@example.com</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Contraseña</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input ID="password" type="Password" Class="form-control">
                                                <div class="input-group-append">
                                                    <button id="show_password" class="btn btn-primary" type="button"
                                                        onclick="showPass()"> <span class="fa fa-eye-slash icon"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">(098) 765-4321</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Direccion</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>


    </div>

<<<<<<< HEAD

    <script src="/javascripts/showPass.js"></script>
=======
    <script>
        function showPass() {
            var tipo = document.getElementById("password");
            if (tipo.type == "password") {
                tipo.type = "text";
            } else {
                tipo.type = "password";
            }
        }
    </script>
>>>>>>> 8abb40be1b70be16c8d0afcd98ef839f7c2ec6b1
    <%- include templates/dashUsuariosFooter.ejs %>